.newCard {
	position: relative;
	width: 20em;
	margin: 0.5em;
	padding: 1em 2em;

	background-color: hsl(0, 0%, 25%);
	color: hsl(0, 0%, 90%);
	border: 1px solid hsl(0, 0%, 60%);
	border-radius: 0.5em;
}

.blankCard > * {
	visibility: hidden;
}

.indicatorWrapper {
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.indicatorParent {
	width: 5em;
}

.cardHeader {
	display: flex;
	align-items: center;
	height: 2em;
	margin-bottom: 0.5em;
}

.formItem {
	font-size: 0.8em;
	width: 100%;
}

.barOuter {
	margin: 0.5em 0;
	width: 100%;
	border-radius: 0.5em;
	overflow: hidden;
	background-color: hsl(0, 0%, 90%);
}

.barInner {
	width: 0%;
	height: 1em;
	border-radius: 0 0.5em 0.5em 0;
}